.search{
    display: flex;
    align-items: center;
}

.search__input{
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 5px;
    padding: 5px;
}

.search__button{
    border-radius: 4px;
    padding: 6px 10px;
    background-color: lightblue;
    color:white;
    font-weight: bold;
    font-size: 11px;
}

.search--hidden{
    display:none;
}
